.main {
    column-gap: var(--spacing);
    font-size: 1em;
    justify-content: center;
    letter-spacing: 0.05em;
    padding: calc(var(--spacing) * 2);
}

.reload {
    cursor: pointer;
}

.reload:hover {
    transform: scale(1.2);
}
